<html>
    
    <head>
        <title> Blog App </title>
        
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css"></link>
        <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css"></link>
    </head>
    
    <body>
        
          <div class="ui fixed inverted menu">
              <div class="ui container">
                  <div class="header item"><i class="code icon"></i></i>BLOG SITE</div>
                   <a href="/" class="item">HOME</a>
                    <a href="/blog" class="item">BlOG</a>
                     <a href="/blog/new" class="item">NEW</a>
              </div>
          </div>
        
  